body{
    background-color: antiquewhite;
}

h1{
    font-size: 50px;
    text-align: center;
}

h5{
    text-align: center;
}

#style{
    background-color: firebrick;
}

p{
    height: 45px;
}


.notice-bar {
    width: 100%;
    background-color:firebrick;
    color: white;
    overflow: hidden;
    white-space: nowrap;
    padding: 10px 0;
}

.notice-bar p {
    display: inline-block;
    padding-left: 100%;
    animation: scrollText 15s linear infinite;
    font-weight: bold;
}

@keyframes scrollText {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}

.output-section {
    margin-top: 40px;
    text-align: center;
    padding: 20px;
}
